<div class="eui-u-flex">
    <span euiLabel class="eui-u-font-bold">Synopis</span>
</div>
<ul>
    <li>
        <eui-card class="eui-u-mb-l">
            <eui-card-content class="eui-u-flex ">
                <div class="eui-u-mr-4xl">
                    <div class="eui-u-mb-s">
                        <span euiLabel euiSecondary euiSizeS>Title</span><br />
                        <span class="eui-u-font-s eui-u-font-bold"
                            >17/07/2020, 02:07:30 PM</span
                        >
                    </div>
                    <div class="eui-u-mb-s">
                        <span euiLabel euiSecondary euiSizeS
                            >Internal reference</span
                        ><br />
                        <span class="eui-u-font-s eui-u-font-bold"
                            >Generic User w0501075</span
                        >
                    </div>
                    <div class="eui-u-mb-s">
                        <span euiLabel euiSecondary euiSizeS>Description</span
                        ><br />
                        <span class="eui-u-font-s eui-u-font-bold"
                            >Generic User w0501075</span
                        >
                    </div>
                </div>
            </eui-card-content>
        </eui-card>
    </li>
    <li>
        <eui-card class="eui-u-mb-l">
            <eui-card-content class="eui-u-flex">
                <div class="eui-u-mb-s eui-u-mr-4xl">
                    <span euiLabel euiSecondary euiSizeS>Signature Date</span><br />
                    <span class="eui-u-font-s eui-u-font-bold"
                        >17/07/2020, 02:07:30 PM</span
                    >
                </div>
                <div class="eui-u-mb-s eui-u-mr-4xl">
                    <span euiLabel euiSecondary euiSizeS
                        >Start Date</span
                    ><br />
                    <span class="eui-u-font-s eui-u-font-bold"
                        >17/07/2020, 02:07:30 PM</span
                    >
                </div>
                <div class="eui-u-mb-s">
                    <span euiLabel euiSecondary euiSizeS>End Date</span
                    ><br />
                    <span class="eui-u-font-s eui-u-font-bold"
                        >17/07/2020, 02:07:30 PM</span
                    >
                </div>
            </eui-card-content>
        </eui-card>
    </li>
    <li>
        <eui-card>
            <eui-card-content>
                <div class="eui-u-mb-s">
                    <span euiLabel euiSecondary euiSizeS>Sensitive Contract</span><br />
                    <span class="eui-u-font-s eui-u-font-bold"
                        >No</span
                    >
                </div>
            </eui-card-content>
        </eui-card>
    </li>
</ul>
