
<eui-page-columns style="min-height: 100vh;">
    <eui-page-column
        label="MAP tree structure"
        size="2xl"
        isCollapsible="true"
    >
        <eui-page-column-body> 
            <button euiPrimary euiButton euiOutline  class="eui-u-mr-s eui-u-mb-s">
                <eui-icon-svg icon="eui-chevron-back" set="eui" size="m" fillColor="grey-100"></eui-icon-svg>                
                <span euiLabel>Back to the Complete Tree</span>
            </button>
            <div class="picture-organigramme">
                <img src="../../../assets/images/organigramme.JPG" alt="organigramme Digit" width="100%"/>
            </div>
        </eui-page-column-body>
    </eui-page-column>
    <eui-page-column>
        <eui-page-column-body>
            <eui-page>
                <eui-page-header
                    label="Organigramme"
                    subLabel="DIGIT/A/02 - Procurement Programme Management Solutions"
                    labelTooltip="Page title tooltip text..."
                    subLabelTooltip="Page sub-title tooltip text..."
                    [isCollapsible]="true"
                    [isCollapsed]="false"
                    [collapsedLabel]="'Collapse'"
                    [expandedLabel]="'Expand'"
                >
                    <eui-page-header-body class="eui-u-flex">
                        <div class="eui-u-mr-4xl">
                            <span euiLabel euiSecondary euiSizeS>Entity id</span><br />
                            <span class="eui-u-font-s eui-u-font-bold">ORG-12</span>
                        </div>
                        <div class="eui-u-mr-4xl">
                            <span euiLabel euiSecondary euiSizeS>Last update</span><br />
                            <span class="eui-u-font-s eui-u-font-bold"
                                >0701/2022 17/17 BY gENERIC uSER J92e2hj</span
                            >
                        </div>
                        <div>
                            <span euiLabel euiSecondary euiSizeS>Status</span><br />
            
                            <eui-chip
                                euiRounded
                                euiOutline
                                euiInfo
                                euiSizeS
                                euiTooltip="Status"
                            >
                                <span euiLabel>Full</span></eui-chip
                            >
                        </div>
                    </eui-page-header-body>
                    <eui-page-header-action-items>
                        <eui-dropdown>
                            <button euiButton euiOutline euiSecondary>
                                <span euiLabel>Current</span>
                                <eui-icon-svg
                                    icon="eui-chevron-down"
                                    set="eui"
                                    size="m"
                                    fillColor="grey-100"
                                ></eui-icon-svg>
                            </button>
                            <eui-dropdown-content>
                                <button
                                    euiDropdownItem
                                    [disabled]="item?.disabled"
                                    *ngFor="let item of listItems"
                                    (click)="onListItemClicked(item)"
                                >
                                    <span euiLabel class="eui-u-ml-xs">{{
                                        item.label
                                    }}</span>
                                </button>
                            </eui-dropdown-content>
                        </eui-dropdown>
            
                        <eui-dropdown>
                            <button euiButton euiOutline euiPrimary>
                                <span euiLabel>Menu</span>
                                <eui-icon-svg icon="eui-ellipsis-vertical"></eui-icon-svg>
                            </button>
                            <eui-dropdown-content>
                                <button
                                    euiDropdownItem
                                    [disabled]="item?.disabled"
                                    *ngFor="let item of listItems"
                                    (click)="onListItemClicked(item)"
                                >
                                    <span euiLabel class="eui-u-ml-xs">{{
                                        item.label
                                    }}</span>
                                </button>
                            </eui-dropdown-content>
                        </eui-dropdown>
                    </eui-page-header-action-items>
                </eui-page-header>
                <eui-page-content>
                    <eui-page-columns>
                        <eui-page-column
                            label="Navigation menu"
                            size="2xl"
                            isCollapsible="true"
                        >
                            <eui-page-column-body>
                                <eui-sidebar-menu
                                    [items]="sidebarItems"
                                    [hasIcons]="true"
                                    (itemClicked)="onSelectSidebarItem($event)"
                                ></eui-sidebar-menu>
                            </eui-page-column-body>
                        </eui-page-column>
                        <eui-page-column>
                            <eui-page-column-body>
                                <router-outlet></router-outlet>
                            </eui-page-column-body>
                        </eui-page-column>
                    </eui-page-columns>
                </eui-page-content>
            </eui-page>
        </eui-page-column-body>
    </eui-page-column>
</eui-page-columns>