<div class="eui-u-flex">
    <span euiLabel class="eui-u-font-bold">Budget enveloper</span>
</div>

<eui-tabs>
    <eui-tab>
        <euiTabLabel> Actual </euiTabLabel>
        <euiTabContent>
            <ag-grid-angular
                class="ag-theme-balham"
                style="width: 100%; height: 100%"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [domLayout]="domLayout"
                [defaultColDef]="defaultColDef"
                [popupParent]="popupParent"

            ></ag-grid-angular>
        </euiTabContent>
    </eui-tab>
    <eui-tab>
        <euiTabLabel> Master </euiTabLabel>
        <euiTabContent>Content Master</euiTabContent>
    </eui-tab>
    <eui-tab>
        <euiTabLabel> Cap Managment </euiTabLabel>
        <euiTabContent>Content Cap Managment</euiTabContent>
    </eui-tab>
    <eui-tab>
        <euiTabLabel> Consolidate </euiTabLabel>
        <euiTabContent>Content Consolidate</euiTabContent>
    </eui-tab>
    <eui-tab>
        <euiTabLabel> Forecast </euiTabLabel>
        <euiTabContent>Content Forecast</euiTabContent>
    </eui-tab>
</eui-tabs>
