<eui-page>
    <eui-page-header label="Portfolio"></eui-page-header>

    <eui-page-content>
        <eui-page-columns>
            <eui-page-column label="Filter" size="2xl" isCollapsible="true">
                <eui-page-column-body>
                    <form>
                        <div euiInputGroup>
                            <label euiLabel> Search </label>
                            <div class="eui-input-group-addon">
                                <input
                                    euiInputNumber
                                    formControlName="search"
                                    aria-label="within form"
                                />
                                <button euiButton euiSecondary>
                                    <eui-icon-svg
                                        icon="eui-search"
                                        set="eui"
                                        size="m"
                                        fillColor="white"
                                    ></eui-icon-svg>
                                </button>
                            </div>
                        </div>
                        <div euiInputGroup>
                            <label euiLabel> Responsible organisation </label>
                            <div class="eui-input-group-addon">
                                <input
                                    euiInputNumber
                                    formControlName="ResponsibleOrganisation"
                                    aria-label="within form"
                                />
                            </div>
                        </div>
                        <div euiInputGroup>
                            <label euiLabel> Owned by </label>
                            <div>
                                <input
                                    euiInputRadio
                                    id="default-radio-vertical-1"
                                    name="dyn-radio-vertical"
                                    [value]="'one'"
                                />
                                <label for="default-radio-vertical-1"
                                    >One</label
                                >

                                <input
                                    euiInputRadio
                                    id="default-radio-vertical-2"
                                    name="dyn-radio-vertical"
                                    [value]="'two'"
                                    checked
                                />
                                <label for="default-radio-vertical-2"
                                    >Two</label
                                >

                                <input
                                    euiInputRadio
                                    id="default-radio-vertical-3"
                                    name="dyn-radio-vertical"
                                    [value]="'three'"
                                />
                                <label for="default-radio-vertical-3"
                                    >Three</label
                                >
                            </div>
                        </div>
                        <div class="eui-u-flex eui-u-flex-between">
                            <label euiLabel>
                                <strong>Additional filter</strong></label
                            >
                            <eui-slide-toggle></eui-slide-toggle>
                        </div>
                        <div class="eui-u-flex eui-u-flex-between">
                            <label euiLabel class="eui-u-mv-m">
                                <strong>Navigation</strong></label
                            >
                            <eui-slide-toggle
                                class="eui-u-flex-start"
                                isChecked
                            ></eui-slide-toggle>
                        </div>
                        <eui-tree [nodes]="treeDataMultiLevels"></eui-tree>

                        <div>
                            <div class="eui-u-flex eui-u-flex-between">
                                <label euiLabel>
                                    <strong>Dynamic filter</strong></label
                                >
                                <eui-slide-toggle isChecked></eui-slide-toggle>
                            </div>
                            <span>Empty</span>
                        </div>
                    </form>
                </eui-page-column-body>

                <eui-page-column-footer>
                    <div class="eui-u-flex eui-u-flex-between">
                        <div class="eui-u-flex-start">Left</div>
                        <div class="eui-u-flex-start">Center</div>
                        <div class="eui-u-flex-end">Right</div>
                    </div>
                </eui-page-column-footer>
            </eui-page-column>

            <eui-page-column>
                <eui-page-column-header-left-content>
                    <!-- Column header custom left content -->
                    <div class="eui-u-flex">
                        <span euiLabel class="eui-u-font-bold">
                            Filter results
                        </span>
                    </div>
                    <div class="eui-u-flex">
                        <span euiLabel euiSizeM>96778 items found</span>
                    </div>
                </eui-page-column-header-left-content>

                <!-- Column header custom right content -->
                <eui-page-column-header-right-content class="eui-u-flex">
                    <div class="eui-input-group-addon">
                        <select
                            euiSelect
                            name="framework_nolabel"
                            aria-label="framework nolabel"
                        >
                            <option value="angular">Relevance</option>
                            <option value="react">React</option>
                            <option value="vue">Vue</option>
                        </select>
                        <button euiButton euiSecondary euiSizeM>
                            <eui-icon-svg
                                icon="eui-arrow-down"
                                set="eui"
                                size="s"
                                fillColor="grey-100"
                            ></eui-icon-svg>
                        </button>
                    </div>
                    <button
                        euiButton
                        euiOutline
                        euiSecondary
                        euiSizeM
                        class="eui-u-ml-s"
                    >
                        <eui-icon-svg
                            icon="eui-refresh"
                            set="eui"
                            size="s"
                            fillColor="grey-100"
                        ></eui-icon-svg>
                        <span euiLabel class="eui-u-ml-xs">Refresh list</span>
                    </button>
                </eui-page-column-header-right-content>

                <eui-page-column-body>
                    <ul>
                        <li
                            *ngFor="let cardItem of cardItems"
                            class="eui-u-mb-l"
                        >
                            <eui-card euiCollapsible euiCollapsed>
                                <eui-card-header [hasHeaderClickToggle]="false">
                                    <eui-card-header-title>
                                        <a href="{{ cardItem.url }}">
                                            {{ cardItem.title }}
                                        </a>
                                    </eui-card-header-title>
                                    <eui-card-header-subtitle
                                        class="eui-u-color-grey-darker eui-u-font-s"
                                    >
                                        <div
                                            class="eui-u-text-truncate ng-star-inserted eui-u-mb-s"
                                        >
                                            <span>Reference : </span>
                                            <strong>{{
                                                cardItem.reference
                                            }}</strong>
                                            <strong class="ng-star-inserted"
                                                ><a
                                                    class="eui-u-text-link-external"
                                                    href="{{
                                                        cardItem.referenceLink
                                                    }}"
                                                >
                                                    - Link</a
                                                ></strong
                                            >
                                        </div>
                                        <div>
                                            <eui-chip
                                                euiSizeXS
                                                euiOutline
                                                euiPrimary
                                                class="eui-u-mr-2xs eui-u-mb-2xs"
                                                ><span euiLabel
                                                    >Procedure</span
                                                ></eui-chip
                                            >
                                        </div>
                                    </eui-card-header-subtitle>
                                    <eui-card-header-left-content>
                                        <button
                                            aria-label="Favourite"
                                            class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--secondary"
                                        >
                                            <eui-icon-svg
                                                icon="eui-star"
                                                set="eui"
                                                size="m"
                                                fillColor="grey-100"
                                            ></eui-icon-svg>
                                        </button>
                                    </eui-card-header-left-content>
                                    <eui-card-header-right-content>
                                        <eui-chip
                                            euiOutline
                                            euiRounded
                                            euiSizeXS
                                            euiSuccess
                                            class="eui-u-mr-l"
                                        >
                                            <span euiLabel
                                                ><strong
                                                    >Status&nbsp;active</strong
                                                ></span
                                            >
                                        </eui-chip>
                                        <eui-dropdown
                                            class="eui-u-ml-s"
                                            (click)="dropdownClick($event)"
                                        >
                                            <button
                                                euiButton
                                                euiBasicButton
                                                euiPrimary
                                                euiRounded
                                                euiIconButton
                                                euiSizeM
                                                euiTooltip="More actions"
                                            >
                                            <eui-icon-svg
                                            icon="eui-ellipsis-vertical"
                                        ></eui-icon-svg>
                                            </button>
                                            <eui-dropdown-content>
                                                <div>
                                                    <button euiDropdownItem>
                                                        Action 1
                                                    </button>
                                                    <button euiDropdownItem>
                                                        Action 2
                                                    </button>
                                                    <button euiDropdownItem>
                                                        Action 3
                                                    </button>
                                                </div>
                                            </eui-dropdown-content>
                                        </eui-dropdown>
                                    </eui-card-header-right-content>
                                </eui-card-header>
                                <eui-card-content>
                                    Card content...
                                </eui-card-content>
                            </eui-card>                           
                        </li>
                    </ul>
                </eui-page-column-body>

                <eui-page-column-footer>
                    <div class="eui-u-flex eui-u-flex-between">
                        <div class="eui-u-flex-start">Footer column left</div>
                        <div class="eui-u-flex-start">Footer column center</div>
                        <div class="eui-u-flex-end">Footer column right</div>
                    </div>
                </eui-page-column-footer>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page>
